{% extends 'base.html.twig' %}

{% block contenu %}

<div class="example-wrapper">
    <h2 style="color: #080044; font-weight: bold;">Bienvenue sur la page récapitulant toutes les entreprises</h2>

        <table class="table table-hover">
            <thead>
                <tr>
                    <div class="row">
                        <div class="col-md-4 col-xs-12">
                            <td style="font-weight: bold;">NOM</td>
                        </div>

                        <div class="col-md-4 col-xs-12">
                            <td style="font-weight: bold;">ADRESSE</td>
                        </div>

                        <div class="col-md-4 col-xs-12">
                            <td style="font-weight: bold;">ACTIVITE</td>
                        </div>
                    </div>
                </tr>
            </thead>

            {% for entrepriseCourante in entreprises %}
                {% if entrepriseCourante.stages|length != null %}
                    <tbody>
                        <tr>
                            <div class="row">
                                <div class="col-md-4 col-xs-12">
                                    <td><a href="{{path('prostages_stagesParEntreprise', {id:entrepriseCourante.id})}}">{{ entrepriseCourante.nom }}</a></td>
                                </div>

                                <div class="col-md-4 col-xs-12">
                                    <td>{{ entrepriseCourante.adresse }}</td>
                                </div>

                                <div class="col-md-4 col-xs-12">
                                    <td>{{ entrepriseCourante.activite }}</td>
                                </div>
                            </div>
                        </tr>
                    </tbody>
                {% endif %}
            {% endfor %}
        
        </table>
    </div>

    

{% endblock %}
