{% extends 'base.html.twig' %}

{% block contenu %}

<div class="example-wrapper">
    <h1>Cette page affichera la liste des entreprises proposant un stage</h1>
    <br><br>
    {% for entrepriseCourante in entreprise %}
    <a class="link" href="{{path('prostages_stagesParEntreprise', {'id': entrepriseCourante.id})}}">{{ entrepriseCourante.nom}}</a>
    <br><br>
    {% endfor %}
</div>
{% endblock %}