{% extends 'base.html.twig' %}

{% block contenu %}

<div class="example-wrapper">
    <h2 style="color: #080044; font-weight: bold;">Bienvenue sur la page récapitulant toutes les formations</h2>

        <table class="table table-hover">
            <thead>
                <tr>
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <td style="font-weight: bold;">NOM</td>
                        </div>
                    </div>
                </tr>
            </thead>

            {% for formationCourante in formations %}
                <tbody>
                    <tr>
                        <div class="row">
                            <div class="col-md-4 col-xs-12">
                                <td><a href="{{path('prostages_stagesParFormation', {id:formationCourante.id})}}">{{ formationCourante.nomCourt }}</a></td>
                            </div>
                        </div>
                    </tr>
                </tbody>
            {% endfor %}
        
        </table>
    </div>

{% endblock %}
