{% extends 'base.html.twig' %}

{% block contenu %}

    <div class="example-wrapper">
        <h2 style="color: #080044; font-weight: bold;">Bienvenue sur la page d'accueil de Prostages</h2>
        <p>Ce site vous permet de trouver un stage en filtrant vos attentes par catégories</p>
        
        <table class="table table-hover">
            <thead>
                <tr>
                    <div class="row">
                        <div class="col-md-4 col-xs-12">
                            <td style="font-weight: bold;">TITRE</td>
                        </div>

                        <div class="col-md-4 col-xs-12">
                            <td style="font-weight: bold;">MISSION</td>
                        </div>

                        <div class="col-md-4 col-xs-12">
                            <td style="font-weight: bold;">EMAIL</td>
                        </div>
                    </div>
                </tr>
            </thead>

            {% for stageCourant in stages %}
                <tbody>
                    <tr>
                    <div class="row">
                            <div class="col-md-4 col-xs-12">
                                <td><a href="{{path('prostages_stages', {id:stageCourant.id})}}">{{ stageCourant.titre }}</a></td>
                            </div>

                            <div class="col-md-4 col-xs-12">
                                <td>{{ stageCourant.mission }}</td>
                            </div>

                            <div class="col-md-4 col-xs-12">
                                <td>{{ stageCourant.email }}</td>
                            </div>
                        </div>
                    </tr>
                </tbody>
            {% endfor %}
            
        </table>

    </div>

    

{% endblock %}
