{% extends 'base.html.twig' %}

{% block contenu %}
<div class="example-wrapper">
    <h1>Bienvenue sur la page d'accueil de Prostages</h1>
    <p>Ce site vous permet de trouver un stage en filtrant vos attentes par catégories</p>
</div>
{% endblock %}
