{% extends 'base.html.twig' %}

{% block contenu %}

    <div class="example-wrapper">
        <h2 style="color: #080044; font-weight: bold;">Bienvenue sur la page comportant des stages liés à la formation {{ formation.nomCourt }}</h2>
        
        <table class="table table-hover">
            <thead>
                <tr>
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <td style="font-weight: bold;">NOM</td>
                        </div>

                        <div class="col-md-6 col-xs-12">
                            <td style="font-weight: bold;">NOM COMPLET</td>
                        </div>
                    </div>
                </tr>
            </thead>

            {% for stageCourant in formation.stages %}
                {% for formationCourante in stageCourant.formations %}
                    <tbody>
                        <tr>
                            <div class="row">
                                <div class="col-md-6 col-xs-12">
                                    <td><a href="{{path('prostages_stages', {id:stageCourant.id})}}">{{ stageCourant.titre }}</a></td>
                                </div>

                                <div class="col-md-6 col-xs-12">
                                    <td>{{ formation.nomLong }}</td>
                                </div>
                            </div>
                        </tr>
                    </tbody>
                {% endfor %}
            {% endfor %}
        </table>
    </div>

{% endblock %}