[class=row]
{
    text-align: center;
    line-height: 30px;
    border-radius: 6px;
}

.example-wrapper
{
    padding-left: 0%;
    padding-right: 0%;
}


img
{
    width: 450px; 
    height: 270px; 
    margin: auto;
}