<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}ProStages{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        {% block titre %}
            <h1>ProStages</h1>
        {% endblock %}

        {% block menu %}
            <h1>---MENU---</h1>
        {% endblock %}

        {% block contenu %}
            <h1>---CONTENU---</h1>
        {% endblock %}

        {% block footer %}
            <h1>---FOOTER---</h1>
        {% endblock %}
    </body>
</html>
